// import components scss files

@use "../components/variables" as *;
@use "../components/breakpoints" as *;
@use "../components/mixins" as *;
@use "../components/buttons" as *;

body {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.img-fluid {
  max-width: 100%;
}

a.button {
  display: block;
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
  width: 75%;
  transition: $secondTransition;
  margin: auto;
  @include media-breakpoint-up(lg) {
    width: 15%;
  }
  @include media-breakpoint-only(md) {
    width: 30%;
  }
  &:hover {
    transform: scale(1.01);
    color: var(--red-color);
    background-color: var(--yellow-color);
  }
}

h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 20px;
  text-transform: capitalize;
  font-weight: 400;
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  line-height: 1.4;
  color: var(--light-color);
}

.main-heading {
  text-align: center;
  margin: auto;
  i {
    color: var(--yellow-color);
    font-size: 42px;
    margin-bottom: 40px;
  }
  h2 {
    color: var(--main-color);
    font-size: var(--biggest-font-size);
  }
  p {
    color: var(--lighter-color);
    position: relative;
    margin-bottom: var(--mb-64);
    text-transform: uppercase;
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      background-color: var(--idenity-color-1);
    }
  }
}
