// import components scss files

@use "../components/variables" as *;
@use "../components/breakpoints" as *;
@use "../components/mixins" as *;
@use "../components/buttons" as *;

/* start blog section */
.blog {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  figure {
    transition: $secondTransition;
    cursor: pointer;
    margin-bottom: var(--mb-16);
    &:hover {
      transform: translateY(-10px);
    }
    figcaption {
      padding-top: var(--mb-8);
      h6 {
        color: var(--light-color);
      }
      h4 {
        font-weight: 600;
      }
    }
  }
}
