// import components scss files

@use "../components/variables" as *;
@use "../components/breakpoints" as *;
@use "../components/mixins" as *;
@use "../components/buttons" as *;

.project {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  background-color: var(--main-color);
  h2 {
    font-size: 36px;
  }
  .button {
    padding: 7px 20px;
  }
}
