// import components scss files

@use "../components/variables" as *;
@use "../components/breakpoints" as *;
@use "../components/mixins" as *;
@use "../components/buttons" as *;

/* start stuff section */

.stuff {
  padding-top: $sectionPadding;
  padding-bottom: $sectionPadding;
  article {
    width: 60%;
    line-height: 1.4;
    margin: auto;
    text-align: center;
    color: var(--light-color);
    @include media_breakpoint-down(lg) {
      width: 100%;
    }
  }
  .row {
    margin-top: var(--mb-100);
    justify-content: space-around;
    align-items: center;
  }
  .content {
    padding: 10px 75px;
    @include media_breakpoint-down(lg) {
      padding: 10px 5px;
    }
    h2 {
      font-weight: 600;
    }
    p {
      margin-bottom: var(--mb-16);
    }
  }
  .button {
    @include media_breakpoint-up(md) {
      width: 50%;
    }
  }
}
