/* idenity color */
:root {
  --biggest-font-size: 32px;
  --h2-font-size: 20px;
  --h3-font-size: 18px;
  --normal-font-size: 15px;
  --small-font-size: 12px;
  --smaller-font-size: 14px;
  --capitalize: capitalize;
  --mb-8: 8px;
  --mb-12: 12px;
  --mb-16: 16px;
  --mb-24: 24px;
  --mb-32: 32px;
  --mb-64: 64px;
  --mb-100: 100px;
  --red-color: #ff3150;
  --white-color: #fff;
  --yellow-color: #ffc400;
  --main-color: #19283f;
  --light-color: #a8b9c0;
  --lighter-color: #c5d0d5;
  --idenity-color-3: #06a2a2;
  --idenity-color-2: #00c6bf;
  --idenity-color-1: #33d1cc;
  --second-background-color: #eff7fa;
}
@media (min-width: 991px) {
  :root {
    --biggest-font-size: 48px;
    --h2-font-size: 28px;
    --h3-font-size: 20px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;
  }
}

/** experimental grid mixins **/
/** experimental grid mixins **/
body {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.img-fluid {
  max-width: 100%;
}

a.button {
  display: block;
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 20px;
  text-transform: capitalize;
  font-weight: 400;
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  line-height: 1.4;
  color: var(--light-color);
}

.main-heading {
  text-align: center;
  width: 50%;
  margin: auto;
}
.main-heading i {
  color: var(--yellow-color);
  font-size: 42px;
  margin-bottom: 40px;
}
.main-heading h2 {
  color: var(--main-color);
  font-size: 35px;
}
.main-heading p {
  color: var(--light-color);
  position: relative;
  margin-bottom: var(--mb-64);
}
.main-heading p:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 200px;
  left: 35%;
  bottom: -20px;
  background-color: var(--idenity-color-1);
}

header {
  /* background-color: var(--main-color);*/
  height: 0;
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}
header .container .logo {
  width: 20%;
}
header .container nav {
  width: 70%;
  display: flex;
  justify-content: center;
}
header .container nav ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  border-right: solid 2px var(--idenity-color-3);
}
header .container nav ul li a {
  display: block;
  color: var(--light-color);
  text-transform: capitalize;
  padding: 5px 1px;
  transition: 0.5s ease-in-out;
  font-size: 15px;
}
header .container nav ul li a.active, header .container nav ul li a:hover {
  color: var(--idenity-color-3);
}
header .container .test {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .container .test i {
  color: var(--idenity-color-3);
  cursor: pointer;
}

/* start hero area */
.hero-area {
  background-color: var(--main-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-transform: capitalize;
  text-align: center;
}
.hero-text h1,
.hero-text h2 {
  color: var(--white-color);
  font-weight: 300;
}
.hero-text h5 {
  color: var(--light-color);
}
.hero-text .button {
  width: 130px;
  margin: auto;
}

/* end hero area */
.good {
  padding-top: 50px;
  padding-bottom: 50px;
}
.good .feat-show {
  margin-top: 100px;
}
.good .feat-show .feat-item {
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  padding: 25px;
}
.good .feat-show .feat-item p {
  font-size: 15px;
}
.good .feat-show .feat-item.one:before {
  content: "1";
}
.good .feat-show .feat-item.two:before {
  content: "2";
}
.good .feat-show .feat-item.three:before {
  content: "3";
}
.good .feat-show .feat-item:before {
  position: absolute;
  color: var(--second-background-color);
  font-size: 150px;
  font-weight: bold;
  top: -100px;
  left: 155px;
  z-index: -1;
}
.good .feat-show .feat-item i {
  font-size: 36px;
  color: var(--idenity-color-1);
  margin-bottom: var(--mb-16);
}
.good .feat-show .feat-item h5 {
  color: var(--yellow-color);
  font-weight: 600;
}
.good .feat-show .feat-item p {
  color: var(--lighter-color);
}

.make {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--second-background-color);
}
.make .gallery-list {
  margin-top: var(--mb-64);
  display: flex;
  justify-content: center;
}
.make .gallery-list a {
  display: block;
  margin: 1px 5px;
  padding: 7px 15px;
  text-transform: capitalize;
  color: var(--light-color);
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.make .gallery-list a.active, .make .gallery-list a:hover {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.make .gallery {
  margin-top: var(--mb-32);
}
.make .gallery figure {
  margin-bottom: var(--mb-24);
  display: flex;
  position: relative;
  cursor: pointer;
}
.make .gallery figure:hover .overlay {
  background-color: #33d1cc;
}
.make .gallery figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}
.make .button {
  width: 15%;
  margin: auto;
}

.stuff {
  padding-top: 50px;
  padding-bottom: 50px;
}
.stuff article {
  width: 100%;
  margin: auto;
  text-align: center;
  color: var(--light-color);
}
.stuff .row {
  margin-top: var(--mb-100);
  justify-content: space-around;
  align-items: center;
}
.stuff .content {
  padding: 10px 75px;
}
.stuff .content p {
  margin-bottom: var(--mb-16);
}
.stuff .button {
  width: 30%;
}

.team {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--second-background-color);
}
.team .main-heading h2 {
  color: var(--yellow-color);
}
.team figure {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mb-16);
  overflow: hidden;
}
.team figure img {
  transition: 0.2s ease-in-out;
}
.team figure img:hover {
  transform: scale(1.05);
}
.team figure figcaption {
  position: relative;
  background-color: var(--white-color);
  padding: 8px 35px 15px;
  text-align: center;
}
.team figure figcaption h3 {
  position: relative;
  color: var(--white-color);
  font-size: 20px;
  z-index: 1;
}
.team figure figcaption p {
  font-size: var(--smaller-font-size);
}
.team figure figcaption .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33d1cc;
  height: 40px;
  width: 100%;
}

.sponser {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.sponser img {
  margin-bottom: var(--mb-32);
}

.project {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-color);
}
.project h2 {
  font-size: 36px;
}
.project .button {
  padding: 7px 20px;
}

.blog {
  padding-top: 50px;
  padding-bottom: 50px;
}
.blog .button {
  width: 15%;
  margin: auto;
}
.blog figure {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: var(--mb-16);
}
.blog figure:hover {
  transform: translateY(-10px);
}
.blog figure figcaption {
  padding-top: var(--mb-8);
}
.blog figure figcaption h6 {
  color: var(--light-color);
}
.blog figure figcaption h4 {
  font-weight: 600;
}

.subscribe {
  padding: var(--mb-16);
  background-color: var(--yellow-color);
}
.subscribe .container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.subscribe h3 {
  color: var(--main-color);
  font-weight: 500;
  margin-top: var(--mb-16);
}
.subscribe input {
  text-transform: capitalize;
  border: transparent;
}
.subscribe input:focus {
  outline: none;
}
.subscribe input[type=text] {
  width: 40%;
  padding: 13px;
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
  background-color: transparent;
}
.subscribe input[type=text]::placeholder {
  color: var(--white-color);
}
.subscribe input[type=submit] {
  color: var(--yellow-color);
  background-color: var(--main-color);
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  transition: 0.5s ease-in-out;
}

footer {
  background-color: var(--main-color);
  padding: var(--mb-32);
}
footer article {
  font-size: var(--smaller-font-size);
}
footer article span:first-of-type {
  color: var(--idenity-color-3);
}
footer article span:last-of-type {
  color: var(--yellow-color);
}
footer article p {
  margin-top: var(--mb-16);
}
footer article p:last-of-type {
  margin-top: var(--mb-64);
}
footer h5 {
  color: var(--white-color);
  margin-bottom: var(--mb-8);
}
footer .list-sec {
  display: flex;
  justify-content: space-around;
}
footer .list-sec ul li a {
  display: block;
  color: var(--light-color);
  font-size: var(--smaller-font-size);
  padding-bottom: var(--mb-16);
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
}
footer .list-sec ul li a:hover {
  opacity: 0.7;
}
footer .button {
  width: 80%;
  margin-top: var(--mb-16);
}
footer .social-icons {
  margin-top: var(--mb-16);
}
footer .social-icons i {
  color: var(--white-color);
  font-size: 24px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-left: 7px;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
footer .social-icons i:first-of-type:hover {
  background-color: #1877f2;
}
footer .social-icons i:nth-of-type(2):hover {
  background-color: #1da1f2;
}
footer .social-icons i:nth-of-type(3):hover {
  background-color: #ea4335;
}
footer .social-icons i:last-of-type:hover {
  background-color: #ea4c89;
}

/*# sourceMappingURL=main.css.map */
