/* idenity color */
:root {
  --biggest-font-size: 24px;
  --h2-font-size: 20px;
  --h3-font-size: 18px;
  --normal-font-size: 15px;
  --small-font-size: 12px;
  --smaller-font-size: 14px;
  --mb-8: 8px;
  --mb-12: 12px;
  --mb-16: 16px;
  --mb-24: 24px;
  --mb-32: 32px;
  --mb-64: 64px;
  --mb-100: 100px;
  --red-color: #ff3150;
  --white-color: #fff;
  --yellow-color: #ffc400;
  --main-color: #19283f;
  --light-color: #a8b9c0;
  --lighter-color: #c5d0d5;
  --idenity-color-3: #06a2a2;
  --idenity-color-2: #00c6bf;
  --idenity-color-1: #33d1cc;
  --second-background-color: #eff7fa;
}
@media (min-width: 991px) {
  :root {
    --biggest-font-size: 36px;
    --h2-font-size: 28px;
    --h3-font-size: 20px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;
  }
}

/** experimental grid mixins **/
/** experimental grid mixins **/
body {
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.img-fluid {
  max-width: 100%;
}

a.button {
  display: block;
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 15px;
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
  width: 75%;
  transition: 0.2s ease-in-out;
  margin: auto;
}
@media (min-width: 992px) {
  a.button {
    width: 15%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  a.button {
    width: 30%;
  }
}
a.button:hover {
  transform: scale(1.01);
  color: var(--red-color);
  background-color: var(--yellow-color);
}

h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 20px;
  text-transform: capitalize;
  font-weight: 400;
}

h1 {
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  line-height: 1.4;
  color: var(--light-color);
}

.main-heading {
  text-align: center;
  margin: auto;
}
.main-heading i {
  color: var(--yellow-color);
  font-size: 42px;
  margin-bottom: 40px;
}
.main-heading h2 {
  color: var(--main-color);
  font-size: var(--biggest-font-size);
}
.main-heading p {
  color: var(--lighter-color);
  position: relative;
  margin-bottom: var(--mb-64);
  text-transform: uppercase;
}
.main-heading p:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  background-color: var(--idenity-color-1);
}

/* start header */
header {
  position: relative;
  z-index: 2;
  height: 0;
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}
@media (max-width: 991.98px) {
  header .container {
    justify-content: space-between;
  }
}
header .container .logo {
  width: 20%;
}
header .container nav {
  width: 70%;
  display: flex;
  justify-content: center;
}
@media (max-width: 991.98px) {
  header .container nav {
    display: none;
  }
  header .container nav.active {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
  }
}
header .container nav ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  border-right: solid 2px var(--idenity-color-3);
}
@media (max-width: 991.98px) {
  header .container nav ul {
    flex-direction: column;
    border-right: transparent;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
header .container nav ul li a {
  display: block;
  color: var(--light-color);
  text-transform: capitalize;
  padding: 5px 1px;
  transition: 0.5s ease-in-out;
  font-size: 15px;
}
header .container nav ul li a.active, header .container nav ul li a:hover {
  color: var(--idenity-color-3);
}
@media (max-width: 991.98px) {
  header .container nav ul li a {
    padding-top: 25px;
    font-size: 20px;
  }
}
header .container .test {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991.98px) {
  header .container .test {
    display: block;
    width: 100%;
    margin-top: var(--mb-64);
  }
}
header .container .test i {
  color: var(--idenity-color-3);
  cursor: pointer;
  margin-left: 32px;
}
@media (max-width: 991.98px) {
  header .container .test i {
    display: none;
  }
}
header .container .test a.button {
  width: 90px;
}
header .menu-toggle {
  color: red;
  font-size: 24px;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  z-index: 3;
  display: none;
}
header .menu-toggle i:nth-of-type(2) {
  display: none;
}
header .menu-toggle.active i:nth-of-type(1) {
  display: none;
}
header .menu-toggle.active i:nth-of-type(2) {
  display: block;
}
@media (max-width: 991.98px) {
  header .menu-toggle {
    display: block;
  }
}

/* start hero area */
.hero-area {
  position: relative;
  background-image: url("../../images/landing02.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-area .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 40, 63, 0.9);
}

.hero-text {
  position: relative;
  text-transform: capitalize;
  text-align: center;
}
.hero-text h1,
.hero-text h2 {
  color: var(--white-color);
  font-weight: 300;
}
.hero-text h5 {
  color: var(--light-color);
}

/* end hero area */
/* start good section */
.good {
  padding-top: 100px;
  padding-bottom: 100px;
}
.good .feat-show {
  margin-top: 150px;
}
.good .feat-show .feat-item {
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  padding: 25px;
}
.good .feat-show .feat-item p {
  font-size: 15px;
}
.good .feat-show .feat-item.one:before {
  content: "1";
}
.good .feat-show .feat-item.two:before {
  content: "2";
}
.good .feat-show .feat-item.three:before {
  content: "3";
}
.good .feat-show .feat-item:before {
  position: absolute;
  color: var(--second-background-color);
  font-size: 150px;
  font-weight: bold;
  top: -77px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.good .feat-show .feat-item i {
  font-size: 36px;
  color: var(--idenity-color-1);
  margin-bottom: var(--mb-16);
}
.good .feat-show .feat-item h5 {
  font-size: 20px;
  color: var(--yellow-color);
  font-weight: 600;
  letter-spacing: 1.5px;
}
.good .feat-show .feat-item p {
  color: var(--lighter-color);
  line-height: 1.6;
}

/* start make section */
.make {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--second-background-color);
}
.make .gallery-list {
  margin-top: var(--mb-64);
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (max-width: 575.98px) {
  .make .gallery-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .make .gallery-list li {
    width: 35%;
    margin: auto;
  }
}
.make .gallery-list a {
  display: block;
  margin: 1px 5px;
  padding: 7px 15px;
  text-transform: capitalize;
  color: var(--light-color);
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}
.make .gallery-list a.active, .make .gallery-list a:hover {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
@media (max-width: 575.98px) {
  .make .gallery-list a {
    padding: 5px;
    text-align: center;
  }
}
.make .gallery {
  margin-top: var(--mb-32);
}
.make .gallery figure {
  margin-bottom: var(--mb-24);
  display: flex;
  position: relative;
  cursor: pointer;
}
.make .gallery figure:hover .overlay {
  background-color: #33d1cc;
}
.make .gallery figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

/* start stuff section */
.stuff {
  padding-top: 100px;
  padding-bottom: 100px;
}
.stuff article {
  width: 60%;
  line-height: 1.4;
  margin: auto;
  text-align: center;
  color: var(--light-color);
}
@media (max-width: 991.98px) {
  .stuff article {
    width: 100%;
  }
}
.stuff .row {
  margin-top: var(--mb-100);
  justify-content: space-around;
  align-items: center;
}
.stuff .content {
  padding: 10px 75px;
}
@media (max-width: 991.98px) {
  .stuff .content {
    padding: 10px 5px;
  }
}
.stuff .content h2 {
  font-weight: 600;
}
.stuff .content p {
  margin-bottom: var(--mb-16);
}
@media (min-width: 768px) {
  .stuff .button {
    width: 50%;
  }
}

/* start team section */
.team {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--second-background-color);
}
.team .main-heading h2 {
  color: var(--yellow-color);
}
.team p:first-of-type {
  width: 75%;
  margin: auto;
  text-align: center;
}
@media (max-width: 575.98px) {
  .team p:first-of-type {
    width: 100%;
  }
}
.team figure {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mb-16);
  margin-top: var(--mb-64);
  overflow: hidden;
}
.team figure img {
  transition: 0.2s ease-in-out;
}
.team figure img:hover {
  transform: scale(1.05);
}
.team figure figcaption {
  position: relative;
  background-color: var(--white-color);
  padding: 8px 35px 35px;
  text-align: center;
}
.team figure figcaption h3 {
  position: relative;
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.5;
  z-index: 1;
}
.team figure figcaption p {
  font-size: var(--smaller-font-size);
}
.team figure figcaption .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33d1cc;
  height: 40px;
  width: 100%;
}

/* start sponser section */
.sponser {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .sponser img {
    margin-bottom: var(--mb-32);
  }
}

/* start project section */
.project {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-color);
}
.project h2 {
  font-size: 36px;
}

/* start blog section */
.blog {
  padding-top: 100px;
  padding-bottom: 100px;
}
.blog figure {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: var(--mb-16);
}
.blog figure:hover {
  transform: translateY(-10px);
}
.blog figure figcaption {
  padding-top: var(--mb-8);
}
.blog figure figcaption h6 {
  color: var(--light-color);
}
.blog figure figcaption h4 {
  font-weight: 600;
}

/* start subscribe section */
.subscribe {
  padding: var(--mb-16);
  background-color: var(--yellow-color);
}
.subscribe .container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 991.98px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe h3 {
  color: var(--main-color);
  font-weight: 500;
  margin-top: var(--mb-16);
}
.subscribe input {
  text-transform: capitalize;
  border: transparent;
}
.subscribe input:focus {
  outline: none;
}
.subscribe input[type=text] {
  width: 50%;
  padding: 13px;
  border-bottom: 1px solid var(--white-color);
  color: var(--white-color);
  background-color: transparent;
}
.subscribe input[type=text]::placeholder {
  color: var(--white-color);
}
.subscribe input[type=submit] {
  color: var(--yellow-color);
  background-color: var(--main-color);
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  transition: 0.5s ease-in-out;
  margin-top: var(--mb-16);
}

footer {
  background-color: var(--main-color);
  padding: var(--mb-32);
  font-size: 13px;
}
footer p {
  font-size: 13px;
}
footer article {
  margin-bottom: var(--mb-64);
}
footer article span:first-of-type {
  color: var(--idenity-color-3);
}
footer article span:last-of-type {
  color: var(--yellow-color);
}
footer article p {
  margin-top: var(--mb-16);
}
footer article p:last-of-type {
  margin-top: var(--mb-64);
}
footer h5 {
  color: var(--white-color);
  margin-bottom: var(--mb-8);
  font-size: 15px;
}
footer .list-sec {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--mb-32);
}
@media (max-width: 767.98px) {
  footer .list-sec {
    justify-content: space-between;
  }
}
footer .list-sec ul li a {
  display: block;
  color: var(--light-color);
  padding-bottom: var(--mb-16);
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
}
footer .list-sec ul li a:hover {
  opacity: 0.7;
}
footer .button {
  font-size: 13px;
  margin-top: var(--mb-16);
}
@media (min-width: 768px) {
  footer .button {
    width: 80%;
  }
}
footer .social-icons {
  margin: 16px auto;
  text-align: center;
}
footer .social-icons i {
  color: var(--white-color);
  font-size: 24px;
  width: 40px;
  height: 40px;
  margin-left: 7px;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
footer .social-icons i:first-of-type:hover {
  background-color: #1877f2;
}
footer .social-icons i:nth-of-type(2):hover {
  background-color: #1da1f2;
}
footer .social-icons i:nth-of-type(3):hover {
  background-color: #ea4335;
}
footer .social-icons i:last-of-type:hover {
  background-color: #ea4c89;
}

/* scroll to top btn */
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: -60px;
  font-size: 36px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--yellow-color);
}
.scroll-to-top:hover {
  color: var(--red-color);
  transform: translateY(-10px);
}
.scroll-to-top.show {
  right: 60px;
}

/*# sourceMappingURL=main.css.map */
